.comment {
  width: 100%;
  border-radius: 40px;
  border: 1px solid #c4c4c4;
  display: flex;
  padding: 30px;
  margin-bottom: 20px;
  transition: ease-in 0.2s;

  &.hidden {
    display: flex;
    align-items: center;
    padding: 10px 30px;

    .counter img {
      width: 18px;
      height: 18px;
    }

    .rating {
      text-align: center;
      font-size: 16px
    }

    .commentText {
      display: none;
    }
  }

  &:hover {
    box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
  }
}


.commentLeft {
  min-width: 100px;

  img {
    max-width: 100%;
    width: 75px;
    height: 75px;
    border-radius: 50%;
  }
}

.commentRight {
  width: 90%;
  margin-left: 20px;
  position: relative;

  .commentDate {
    position: absolute;
    font-size: 16px;
    font-style: italic;
    top: 0;
    right: 100px;
  }
}

.commentUsername {
  font-weight: bold;
  margin-bottom: 5px;
}

.commentText {
  max-width: 90%;
}

.counter {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  right: 0;
  top: 50%;
  transform: translateY(-50%);

  img {
    width: 30px;
    height: 30px;
    cursor: pointer;
  }

  .rating {
    text-align: center;
    font-size: 24px
  }
}

@media (max-width: 760px) {
  .commentLeft {
    display: none;
  }

  .comment {
    padding-right: 0px;
  }

  .counter {
    right: -20px;
    img {
      width: 18px;
      height: 18px;
    }

    .rating {
      font-size: 19px
    }
  }

  .commentText {
    max-width: 100%;
  }
}

@media (max-width: 560px) {
  .comment {
    padding: 20px
  }


}

@media (max-width: 500px) {
  .commentRight {
    .commentDate {
      display: block;
      font-size: 14px;
      font-style: italic;
      right: 30px;
    }
  }
}